Dave Chen <dchen@mail.nih.gov>
Ziv Yaniv <zivyaniv@nih.gov> <zivy@users.noreply.github.com>
Matt McCormick <matt.mccormick@kitware.com> <matt@mmmccormick.com>
Richard Beare <Richard.Beare@gmail.com> <richard.beare@gmail.com>
Richard Beare <Richard.Beare@gmail.com> <Richard.Beare@ieee.org>
Richard Beare <Richard.Beare@gmail.com> <richard.beare@monash.edu>
Bradley Lowekamp <blowekamp@mail.nih.gov> <blowekamp@mail.nih.gov>
Ghislain Antony Vaillant <ghisvail@users.noreply.github.com> <ghisvail@gmail.com>
Kevin Mader <kmader@users.noreply.github.com> <kevin.mader@4Quant.com>
