/*=========================================================================
*
*  Copyright NumFOCUS
*
*  Licensed under the Apache License, Version 2.0 (the "License");
*  you may not use this file except in compliance with the License.
*  You may obtain a copy of the License at
*
*         http://www.apache.org/licenses/LICENSE-2.0.txt
*
*  Unless required by applicable law or agreed to in writing, software
*  distributed under the License is distributed on an "AS IS" BASIS,
*  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*  See the License for the specific language governing permissions and
*  limitations under the License.
*
*=========================================================================*/
#ifndef sitk{{ name }}_h
#define sitk{{ name }}_h

{% include "DoNotEditWarning.h.jinja" %}

#include <memory>

#include "sitkBasicFilters.h"
#include "sitkProcessObjectDeleter.h"

{#- Import parameter macros for use in this template -#}
{% import "macros.jinja" as macros %}

#include "sitkImageFilter.h"

namespace itk::simple {

{% include "ClassDeclaration.h.jinja" %}
{% include "PublicDeclarations.h.jinja" %}


{% include "MemberGetSetDeclarations.h.jinja" %}
{% include "ClassNameAndPrint.h.jinja" %}

{% include "ExecuteMethodNoParameters.h.jinja" -%}

{%- include "CustomMethods.h.jinja" %}

{% include "ExecuteInternalMethod.h.jinja" %}

{% include "MemberFunctionDispatch.h.jinja" %}

{% include "PrivateMemberDeclarations.h.jinja" %}

};



   /**
{% if briefdescription and (briefdescription|length > 0) %}
     * \brief {{ briefdescription }}
{% else %}
     * \brief itk::simple::{{ name }} Procedural Interface
{% endif %}
     *
     * This function directly calls the execute method of {{ name }}
     * in order to support a procedural API
     *
     * \sa itk::simple::{{ name }} for the object oriented interface
     */
SITKBasicFilters_EXPORT Image {{ name|regex_replace("ImageSource$", "Source")|regex_replace("(ImageFilter|Filter)$", "") }} (
  {{ macros.image_parameters(number_of_inputs) }}
  {{ macros.input_parameters(inputs, number_of_inputs, name, no_optional) }}
  {% include "MemberParametersWithDefaults.jinja" %}
);
}
#endif
