referenced:
  defaults: &defaults
    docker:
     - image: circleci/python:2.7
    working_directory: ~/
    resource_class: large
    environment:
      CTEST_DASHBOARD_ROOT: /home/circleci
      CTEST_SOURCE_DIRECTORY: /home/circleci/SimpleITK
      CTEST_BINARY_DIRECTORY: /home/circleci/SimpleITK-build
      DASHBOARD_BRANCH_DIRECTORY: /home/circleci/dashboard
      ExternalData_OBJECT_STORES: /home/circleci/.ExternalData
      CCACHE_NODIRECT: 1
  dependencies: &dependencies
    run:
      name: Dependencies
      command: |
        sudo apt-get install -y rsync lua5.1 ccache kwstyle swig
        sudo pip install --upgrade pip
        sudo pip install numpy scikit-ci-addons
        ci_addons circle/install_cmake.py 3.10.2
  generate-hash-step: &generate-hash-step
    run:
      name: Generate external data hash
      command: |
        cd SimpleITK
        git log -n 1 ${CTEST_SOURCE_DIRECTORY}/Testing/Data/ | tee /home/circleci/external-data.hashable
  restore-data-step: &restore-data-step
     restore_cache:
       keys:
         - 'v1-external-data-{{ checksum "/home/circleci/external-data.hashable" }}'
         - 'v1-external-data'
  restore-ccache-step: &restore-ccache-step
    restore_cache:
      keys:
        - ccache-{{ arch }}-{{ .Branch }}
        - ccache-{{ arch }}-master
  clone-dashboard-step: &clone-dashboard-step
     run:
       name: Cloning dashboard branch
       command: |
         git clone --single-branch ${CIRCLE_REPOSITORY_URL} -b dashboard ${DASHBOARD_BRANCH_DIRECTORY}


version: 2
jobs:
  build-and-test:
    <<: *defaults
    steps:
      - checkout:
          path : ~/SimpleITK
      - *generate-hash-step
      - *restore-data-step
      - *restore-ccache-step
      - *clone-dashboard-step
      - *dependencies
      - run:
          name: CCache initialization
          command: |
            ccache --show-stats
            ccache --zero-stats
            ccache --max-size=2.0G
      - run: echo 'export DASHBOARD_MODEL=$( [[ "$CIRCLE_BRANCH" = "master" || "$CIRCLE_BRANCH" = "next"  || "$CIRCLE_BRANCH" = "release" ]] && echo Continuous || echo Experimental )' >> $BASH_ENV
      - run:
          name: Build and Testing with CTest
          no_output_timeout: 20.0m
          environment:
                CTEST_CONFIGURATION_TYPE: "Release"
                CTEST_BUILD_FLAGS: "-j 4"
                CTEST_OUTPUT_ON_FAILURE: 1
                ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS: 2
                PARALLEL_LEVEL: 4
          command: |
            export PATH=/usr/lib/ccache:${PATH}
            export LD_LIBRARY_PATH="${CTEST_BINARY_DIRECTORY}/ITK-prefix/lib/:${CTEST_BINARY_DIRECTORY}/SimpleITK-build/lib"
            export CTEST_CACHE="
              BUILD_DOCUMENTATION:BOOL=OFF
              BUILD_EXAMPLES:BOOL=OFF
              BUILD_SHARED_LIBS:BOOL=ON

              SimpleITK_USE_SYSTEM_LUA:BOOL=ON
              SimpleITK_EXPLICIT_INSTANTIATION:BOOL=OFF

              WRAP_DEFAULT:BOOL=OFF"
            ctest -V -S "${CTEST_SOURCE_DIRECTORY}/.circleci/circleci.cmake"
      - run:
          name: ccache stats
          when: always
          command: |
            ccache --show-stats
      - run:
          name: Formatting CTest for JUnit
          when: always
          command: |
            env
            mkdir -p /tmp/test-results
            ci_addons ctest_junit_formatter ${CTEST_BINARY_DIRECTORY} > /tmp/test-results/JUnit-${CIRCLE_NODE_INDEX}.xml
      - store_test_results:
          path: /tmp/test-results
          destination: ctest
      - save_cache:
          key: 'ccache-{{ arch }}-{{ .Branch }}-{{ epoch }}'
          paths: [ "/home/circleci/.ccache" ]
      - save_cache:
          key: 'v1-external-data-{{ checksum "/home/circleci/external-data.hashable" }}'
          paths: [ "/home/circleci/.ExternalData" ]
      - run:
          name: Cleanup build
          command: |
            rm -rf "${CTEST_BINARY_DIRECTORY}/ITK" "${CTEST_BINARY_DIRECTORY}/ITK-build"
            rm -rf "${CTEST_BINARY_DIRECTORY}/SimpleITK" "${CTEST_BINARY_DIRECTORY}/SimpleITK-build"
      - persist_to_workspace:
          root: /home/circleci/SimpleITK-build
          paths:
            - "*"
  python-and-test:
    <<: *defaults
    steps:
      - checkout:
          path : ~/SimpleITK
      - *generate-hash-step
      - *restore-data-step
      - *clone-dashboard-step
      - *dependencies
      - attach_workspace:
          at: /home/circleci/SimpleITK-build
      - run:
          name: Build Python and Testing with CTest
          no_output_timeout: 20.0m
          environment:
                CTEST_CONFIGURATION_TYPE: "Release"
                CTEST_BUILD_FLAGS: "-j 4"
                CTEST_OUTPUT_ON_FAILURE: 1
                ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS: 2
                PARALLEL_LEVEL: 2
          command: |
            export PATH=/usr/lib/ccache:${PATH}
            export LD_LIBRARY_PATH="${CTEST_BINARY_DIRECTORY}/ITK-prefix/lib/:${CTEST_BINARY_DIRECTORY}/lib"
            export CTEST_CACHE="CMAKE_PREFIX_PATH:PATH=${CTEST_BINARY_DIRECTORY}
              SWIG_EXECUTABLE:PATH=${CTEST_BINARY_DIRECTORY}/Swig/bin/swig"
            export CTEST_BINARY_DIRECTORY="/home/circleci/SimpleITK-py"
            ctest -V -Ddashboard_source_config_dir:PATH="Wrapping/Python" -S "${CTEST_SOURCE_DIRECTORY}/.circleci/circleci.cmake"
  docs:
    <<: *defaults
    steps:
      - checkout:
          path : ~/SimpleITK
      - *generate-hash-step
      - *restore-data-step
      - *dependencies
      - run:
          name: Building and Generating Doxygen
          no_output_timeout: 20.0m
          environment:
                CTEST_CONFIGURATION_TYPE: "Release"
                CTEST_BUILD_FLAGS: "-j 4"
          command: |
            export PATH=/usr/lib/ccache:${PATH}
            mkdir ${CTEST_BINARY_DIRECTORY} && cd ${CTEST_BINARY_DIRECTORY}
            cmake -DWRAP_DEFAULT=OFF -DBUILD_DOXYGEN=ON -DSimpleITK_USE_SYSTEM_LUA:BOOL=ON ${CTEST_SOURCE_DIRECTORY}/SuperBuild
            make -j ${CTEST_BUILD_FLAGS} SimpleITK-doc
      - run:
          name: Archiving directory for artifact
          command: |
            cd ${CTEST_BINARY_DIRECTORY}/SimpleITK-build/Documentation/
            tar -zcvf simpleitk_doxygen_html.tar.gz html
      - store_artifacts:
          path: /home/circleci/SimpleITK-build/SimpleITK-build/Documentation/simpleitk_doxygen_html.tar.gz
workflows:
  version: 2
  build_and_test:
    jobs:
      - build-and-test:
          filters:
            branches:
               ignore:
                 - gh-pages
                 - dashboard
                 - hooks
      - python-and-test:
          requires:
            - build-and-test

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
        - docs
