{% if custom_methods and custom_methods|length > 0 %}

// Custom Methods
{% for method in custom_methods %}

{{ method.return_type }} {{ name }}::{{ method.name }}(
    {%- if method.parameters %}
        {%- for param in method.parameters %}
            {{ param.type }} {{ param.var_name }}{{ ", " if not loop.last }}
        {%- endfor %}
    {%- endif %}
)
{
  {{ method.body }}
}
{% endfor %}
{% endif %}
