{% import "macros.jinja" as macros %}
  /** Execute the filter on the input image{% if number_of_inputs >= 2 %}s{% endif %} */
  {# In-place and SWIG logic is not directly portable; review if needed for your use case. #}
  {%- if in_place %}
#ifndef SWIG
    {{ "void" if no_return_image else "Image" }} Execute({{ macros.image_rvalue_reference_parameters(number_of_inputs) }}{{ macros.input_rvalue_reference_parameters(inputs, number_of_inputs, name, no_optional) }});
#endif
  {%- endif %}
  {{ "void" if no_return_image else "Image" }} Execute({{ macros.image_parameters(number_of_inputs) }}{{ macros.input_parameters(inputs, number_of_inputs, name, no_optional) }});
  {%- if inputs and inputs|selectattr('optional')|list %}
    {# If there are optional inputs, generate an overload with no_optional=1 #}
    {# This logic may need to be adapted for your overload handling #}
    {{ "void" if no_return_image else "Image" }} Execute({{ macros.image_parameters(number_of_inputs) }}{{ macros.input_parameters(inputs, number_of_inputs, name, no_optional) }});
  {%- endif %}
