{% if filter_type %}
  using FilterType = {{ filter_type }};
{% else %}
  using FilterType = itk::{{ itk_name|default(name) }}<InputImageType,
  {%- if number_of_inputs == 2 or inputs|length == 2 %}
    InputImageType2,
  {%- endif %}
  OutputImageType>;
{% endif %}
  // Set up the ITK filter
  typename FilterType::Pointer filter = FilterType::New();
