{% import "macros.jinja" as macros %}
template <class TImageType>
{{ "void" if no_return_image else "Image" }} {{ name }}::ExecuteInternal (
  {# Numbered image inputs #}
  {{- range(1, number_of_inputs+1) | format_list('const Image &inImage{}') | join(', ') }}
  {# Additional inputs #}
  {%- set comma = joiner(', ') -%}
  {{- comma() if number_of_inputs -}}
  {%- for inputs in inputs %}
    {{- comma() -}}
      const {{ inputs.type }} *
    in{{ inputs.name }}
  {%- endfor -%}
)
