  friend struct detail::MemberFunctionAddressor<MemberFunctionType>;
  {%- if vector_pixel_types_by_component %}
  friend struct detail::ExecuteInternalVectorImageAddressor<MemberFunctionType>;
  {%- endif %}
  std::unique_ptr<detail::MemberFunctionFactory<MemberFunctionType>> m_MemberFactory;
